#cloud-config
users:
  - name: ${username}
    groups: ${groups}
    shell: /bin/bash
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    ssh-authorized-keys: 
%{ for key in ssh_keys ~}
      - ${key}
%{ endfor ~}

packages: 
%{ for package in packages ~}
  - ${package}
%{ endfor ~}

package_update: true
package_upgrade: true
package_reboot_if_required: true

bootcmd:
%{ for volume in volumes ~}
  - mkdir ${volume.path}
  - mount -o discard,defaults,noatime /dev/disk/by-id/scsi-0DO_Volume_${volume.name} ${volume.path}
%{ endfor ~}

mounts:
%{ for volume in volumes ~}
  - [ "/dev/disk/by-id/scsi-0DO_Volume_${volume.name}", "${volume.path}", auto, "discard,defaults,noatime" ]
%{ endfor ~}

%{ if swap_size > 0 ~}
swap:
  filename: ${swap_file}
  size: ${swap_size}
%{ endif ~}

runcmd:
  - sed -i -e '/^PermitRootLogin/s/^.*$/PermitRootLogin no/' /etc/ssh/sshd_config
  - sed -i -e '$aAllowUsers ${username}' /etc/ssh/sshd_config
  - service ssh restart
%{ for volume in volumes ~}
  - chown ${username}:${username} ${volume.path}
%{ endfor ~}
