#cloud-config
users:
  - name: ${username}
    groups: ${groups}
    shell: /bin/bash
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    ssh-authorized-keys: 
%{ for key in ssh_keys ~}
      - ${key}
%{ endfor ~}

packages: 
%{ for package in packages ~}
  - ${package}
%{ endfor ~}

package_update: true
package_upgrade: true
package_reboot_if_required: true

runcmd:
  - sed -i -e '/^PermitRootLogin/s/^.*$/PermitRootLogin no/' /etc/ssh/sshd_config
  - sed -i -e '$aAllowUsers ${username}' /etc/ssh/sshd_config
  - service ssh restart
  - ssh-keygen -t ed25519 -a 200 -C bastion@${name}
